@import url('//at.alicdn.com/t/font_1101085_aotggqnuwbh.css');
@font-face {
  font-family: 'iconfont';
  /* project id 1101085 */
  src: url('//at.alicdn.com/t/font_1101085_b4meeandog.eot');
  src: url('//at.alicdn.com/t/font_1101085_b4meeandog.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1101085_b4meeandog.woff2') format('woff2'), url('//at.alicdn.com/t/font_1101085_b4meeandog.woff') format('woff'), url('//at.alicdn.com/t/font_1101085_b4meeandog.ttf') format('truetype'), url('//at.alicdn.com/t/font_1101085_b4meeandog.svg#iconfont') format('svg');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input {
  display: block;
  min-width: 225px;
  height: 35px;
  line-height: 35px;
  text-indent: 10px;
  border: 1px solid #ccc;
  outline: none;
}
input:focus {
  border: 1px solid #1e90ff;
}
input::placeholder {
  font-size: 12px;
}
body {
  background-color: #dfe4ea;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.title-24 {
  height: 45px;
  line-height: 45px;
  font-size: 24px;
  color: #1e90ff;
}
.ph-icon {
  width: 19px;
  height: 17px;
  background: url(../../../static/img/audio.png) no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}
.ph-icon:hover {
  background-image: url(../../../static/img/audio-active.png);
}
.btns {
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  color: white;
  text-align: center;
  background-color: #1e90ff;
  border: none;
  border-radius: 3px;
  transition: opacity .3s;
  cursor: pointer;
}
.btns:hover {
  opacity: .7;
}
.btn-min {
  width: 125px;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  color: white;
  text-align: center;
  background-color: #1e90ff;
  border: none;
  border-radius: 3px;
  transition: opacity .3s;
  cursor: pointer;
}
.btn-min:hover {
  opacity: .7;
}
.btn-auto {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  color: white;
  text-align: center;
  background-color: #1e90ff;
  border: none;
  border-radius: 3px;
  transition: opacity .3s;
  cursor: pointer;
}
.btn-auto:hover {
  opacity: .7;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 5px solid transparent;
  cursor: pointer;
}
.close:hover {
  opacity: .7;
}
.active.active {
  color: white !important;
  background-color: #1e90ff;
}
