// 线上的
@import url('//at.alicdn.com/t/font_1101085_aotggqnuwbh.css');
@font-face {
  font-family: 'iconfont';  /* project id 1101085 */
  src: url('//at.alicdn.com/t/font_1101085_qhuatcx0asd.eot');
  src: url('//at.alicdn.com/t/font_1101085_qhuatcx0asd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1101085_qhuatcx0asd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1101085_qhuatcx0asd.woff') format('woff'),
  url('//at.alicdn.com/t/font_1101085_qhuatcx0asd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1101085_qhuatcx0asd.svg#iconfont') format('svg');
}
// less public variable
@import url('./public');
.color () {
 color: @color;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  padding-bottom: 45px;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
input{
  display: block;
  min-width: 225px;
  height: 35px;
  line-height: 35px;
  text-indent: 10px;
  border: 1px solid #ccc;
  outline: none;
  &:focus{
    border: 1px solid @color;
  }
}
input::placeholder{
  font-size: 12px;
}
body{
  background-color: #dfe4ea;
}
.flex{
  display: flex;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
// layout
.hide{
  display: none;
}
.justify{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// title 正文 14px 正文小 13px 辅助文字 12px
.title-main{
  line-height: 30px;
  font-size: 20px;
}
.title{
  line-height: 28px;
  font-size: 18px;
}
.title-min{
  line-height: 26px;
  font-size: 16px;
}
// icon
.ph-icon{
  @audioUrl: '../../../static/img/';
  width: 19px;
  height: 17px;
  background: url("@{audioUrl}audio.png") no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
  &:hover{
    background-image: url("@{audioUrl}audio-active.png");
  }
}
// list
.list-head{
  padding: 15px 0;
  color: #1e90ff;
  border-top: 1px solid #dfe4ea;
  border-bottom: 1px solid #dfe4ea;
}
.list-content > *{
  line-height: 45px;
  font-size: 14px;
  border-radius: @border-radius;
  &:nth-child(2n){
    background-color:#f1f1f1;
  }
  &:hover{
    background-color: #DFDFDF;
  }
}
// button
.btns (@bg-color:@color) {
  display: inline-block;
  min-width: 125px;
  padding: 10px 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: @border-radius;
  background-color: @bg-color;
  transition: opacity .3s;
  cursor: pointer;
  &:hover{
    opacity: .7;
  }
}
.btns-main {
  .btns()
}
.btns-danger{
  .btns(@color-danger);
}
.close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  border: 5px solid transparent;
  cursor: pointer;
  &:hover{
    opacity: .7;
  }
}
// 状态
.active.active{
  color: white !important;
  background-color: @color;
}
// vue-animate
.fade-enter, .fade-leave-to{
  opacity: 0;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .3s;
}